/*blue*/
/*dark blue*/
/*green*/
/*brown*/
/*very dark blue*/
/*bluish gray*/
/*light gray*/
/* line 13, style.scss */
body {
  background: #f8faf9;
  height: 100%;
  margin: 0px;
  padding: 54px 0px;
  font-style: normal;
  font-size: 62,5%;
}

/* line 22, style.scss */
h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  color: #1abc9c;
}

/* line 29, style.scss */
h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  color: #f65034;
}

/* line 36, style.scss */
h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  color: #f1c40f;
}

/* line 43, style.scss */
p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

/* line 49, style.scss */
p small {
  font-size: 0.7em;
}

/* line 53, style.scss */
a {
  text-decoration: none;
}

/* line 57, style.scss */
.rounded-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}

/* line 63, style.scss */
.rounded-right img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

/* line 69, style.scss */
.rounded {
  border-radius: 50%;
  overflow: hidden;
  height: 250px;
  margin-left: -125px;
  position: absolute;
  left: 50%;
}

/* line 78, style.scss */
.rounded-small img {
  border-radius: 50%;
  overflow: hidden;
}

/* line 83, style.scss */
.center-content {
  position: relative;
  text-align: center;
  margin: 15%;
  margin-top: 0px;
}

/* line 90, style.scss */
.center-content h1, h2, h3, p {
  position: relative;
  top: 300px;
}

/* line 95, style.scss */
.social-media {
  position: relative;
  top: 350px;
}

/* line 100, style.scss */
.social-media img {
  height: 70px;
}

/* line 104, style.scss */
.linkedin_off, #linkedin:hover .linkedin_on {
  display: none;
}

/* line 108, style.scss */
.linkedin_on, #linkedin:hover .linkedin_off {
  display: inline;
}

/* line 112, style.scss */
.github_off, #github:hover .github_on {
  display: none;
}

/* line 116, style.scss */
.github_on, #github:hover .github_off {
  display: inline;
}

/* line 120, style.scss */
.mail_off, #mail:hover .mail_on {
  display: none;
}

/* line 124, style.scss */
.mail_on, #mail:hover .mail_off {
  display: inline;
}

/* line 128, style.scss */
.arrows img {
  height: 40px;
}

/* line 132, style.scss */
.arrows #left {
  position: fixed;
  top: 50%;
  left: 3%;
}

/* line 138, style.scss */
.arrows #right {
  position: fixed;
  top: 50%;
  right: 3%;
}

/* line 144, style.scss */
.left_off, #left:hover .left_on {
  display: none;
}

/* line 148, style.scss */
.left_on, #left:hover .left_off {
  display: inline;
}

/* line 152, style.scss */
.right_off, #right:hover .right_on {
  display: none;
}

/* line 156, style.scss */
.right_on, #right:hover .right_off {
  display: inline;
}

/* line 160, style.scss */
.footnote {
  position: relative;
  top: 100px;
  text-align: left;
  margin-left: -15%;
}

/* line 168, style.scss */
.left-bar #profile {
  position: fixed;
  top: 0px;
  left: -20%;
  bottom: 0px;
  height: 100%;
  z-index: -1;
}

/* line 179, style.scss */
.top-bar h1 {
  position: absolute;
  overflow: auto;
}
